:root { --cake-h: 40px; --brown: #6d4c41; --pink: #f06292; }
body { background: linear-gradient(to bottom, #ffc3a0, #ffafbd); margin: 0; overflow: hidden; height: 100vh; font-family: 'Segoe UI', sans-serif; }
.hidden { display: none !important; }

#user-screen, #game-over-screen { 
    position: fixed; inset: 0; background: rgba(0,0,0,0.8); 
    z-index: 2000; display: flex; justify-content: center; align-items: center; 
}

.modal { 
    background: white; padding: 40px; border-radius: 25px; 
    text-align: center; border: 5px solid var(--brown); box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

#ui { position: absolute; width: 100%; top: 20px; text-align: center; z-index: 500; pointer-events: none; }
#score-box { background: white; padding: 5px 25px; border-radius: 50px; border: 3px solid var(--brown); display: inline-block; }

#crane-system { position: fixed; top: 0; left: 0; width: 100%; height: 0; z-index: 400; }
#crane { position: absolute; top: 0; left: 50%; width: 4px; height: 320px; background: #333; transform-origin: top center; }
#active-cake-container { position: absolute; bottom: -50px; left: 50%; transform: translateX(-50%); }

.cake { height: var(--cake-h); border-radius: 8px; border: 3px solid var(--brown); box-sizing: border-box; background: var(--pink); border-bottom: 6px solid #d81b60; }
.f-1 { background: #f06292; } .f-2 { background: #ba68c8; } .f-3 { background: #fff176; }

#game-world { width: 100%; height: 100%; position: relative; transition: transform 0.4s ease-out; }
#base-container { position: absolute; bottom: 20px; left: 50%; width: 200px; transform: translateX(-50%); transition: transform 0.1s; }
#base { width: 100%; height: 40px; background: #8d6e63; border: 4px solid var(--brown); border-radius: 8px; }
#tower { width: 100%; display: flex; flex-direction: column-reverse; align-items: center; }

button { background: var(--brown); color: white; border: none; padding: 12px 30px; border-radius: 50px; cursor: pointer; font-weight: bold; margin-top: 15px; }

body {
    touch-action: manipulation; /* Elimina el retraso del doble tap */
    user-select: none; /* Evita que se seleccione texto al tocar mucho */
}

input {
    user-select: auto; /* Permite escribir en el nombre */
}
